<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Page Features
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="Small">User's Account</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-list-header>
      <h2>Page Features</h2>
    </ion-list-header>
    <ion-item>
      <p>This page will display the users information. (First Name, last Name, email) I will possible add a change
        password button</p>
    </ion-item>
    <ion-item>
      <p>a Chart will be included to show the user the number of destinations in total</p>
    </ion-item>
    <ion-item>
      <p>User can also upload an image if they choose</p>
    </ion-item>
  </ion-list>
</ion-content>