<ion-content [fullscreen]="true">
  <ion-header collapse="condense" id="header">
    <ion-toolbar>
      <!--<ion-title size="Small">User's Account</ion-title>-->
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-list-header>
      {{userData}}
    </ion-list-header>
    <ion-item>
    </ion-item>
    <ion-item>
      <p>a Chart will be included to show the user the number of destinations in total</p>
    </ion-item>
    <ion-item>
      <p>User can also upload an image if they choose</p>
    </ion-item>
  </ion-list>
</ion-content>
