<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>New Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>

  </ion-header>
  <form id="newAccountForm">
    <ion-item>
      <ion-label>First Name</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Last Name</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Confirm Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <ion-button size="small" [routerLink]="['/tabs']">Submit</ion-button>


  </form>




</ion-content>
