#toolbar-title{
  width: 100%;
}


#newAccountForm{
  width: 90%;
  padding: auto;
  margin: auto;
  padding-top: 20px;
}

ion-item{
  margin-bottom: 5px;
  border-radius: 5px;
  border: 0.5px lightgrey solid;

}

#accountSubmit{
  margin: auto;
  justify-content: center;
  text-align: center;

}
